aiohttp>=3.8.0
aiosignal>=1.1.0
async-timeout>=4.0.0
attrs==22.1.0
backoff==2.2.1
charset-normalizer==3.0.1
distro==1.8.0
frozenlist==1.3.3
idna==3.4
multidict==6.0.4
python-dateutil==2.8.2
ruyaml==0.91.0
six==1.16.0
typing_extensions==4.4.0
yarl==1.8.2
